<li class="recipe flexrow" recipe-uuid="{{this.uuid}}" data-type="Item">
  <div class="image">
    <img src="{{this.img}}" alt="{{this.name}}" loading="lazy" />
  </div>
  <div class="name">
    <a class="item-link">{{this.name}}</a>
  </div>
  <div class="level">
    {{this.level}}
  </div>
</li>